<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" />
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="icon" href="/static/icon.png">
  <script src="https://kit.fontawesome.com/2828f7885a.js" integrity="sha384-WAsFbnLEQcpCk8lM1UTWesAf5rGTCvb2Y+8LvyjAAcxK1c3s5c0L+SYOgxvc6PWG" crossorigin="anonymous"></script>
  <title>EleveDirect - Votre prochaine application EcoleDirect</title>
</head>
<body>
<div>
  <section class="section">
    <div class="container">
      <div class="mb-6 pb-3 columns is-multiline">
        <div class="column is-6 is-6-desktop mx-auto has-text-centered">
          <h2 class="mb-4 is-size-1 is-size-3-mobile has-text-weight-bold">Elevedirect</h2>
          <p class="subtitle has-text-grey mb-5">Découvrez EleveDirect, EcoleDirect dans une application conçue et créée pour les élèves</p>
          <div class="buttons is-centered">
            <a class="mr-3 no-mg-mobile" href="http://app-eleve-direct.server.camarm.fr/static/app/elevedirect.apk" download="http://app-eleve-direct.server.camarm.fr/static/app/elevedirect.apk" target="_blank"><img width="300" src="/static/download.png" alt="Download app for android"></a>
            <a href="http://app-eleve-direct.server.camarm.fr" target="_blank"><img width="300" src="/static/online.png" alt="Visit online"></a>
          </div>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-4 is-4-desktop">
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fas fa-universal-access fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Simple</h4>
              <p class="subtitle has-text-grey">Installer l'application ou visiter le site en ligne, connecter vous avec vos identifiants EcoleDirect.</p>
            </div>
          </div>
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fas fa-bring-front fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Interface repensée</h4>
              <p class="subtitle has-text-grey">L'interface repensée vous permettra de voir uniquement l'essentiel.</p>
            </div>
          </div>
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fas fa-sparkles fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Contenu inédit</h4>
              <p class="subtitle has-text-grey">Visionnez vos moyennes avant même la fin du semestre ou téléchargez votre carte de cantine.</p>
            </div>
          </div>
        </div>
        <div class="column is-4 is-block-desktop">
          <img class="mx-auto mt-0-widescreen is-block image" src="/static/phone.gif" alt="App Suggestion"></div>
        <div class="column is-4 is-4-desktop">
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fas fa-bells fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Soyer à jour</h4>
              <p class="subtitle has-text-grey">Soyez notifiés d'un contrôle imminent pour réviser en toute tranquillité !</p>
            </div>
          </div>
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fas fa-code-commit fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Maintenu</h4>
              <p class="subtitle has-text-grey">Projet très actif et à l'écoute, envoyez nous un message pour toutes remarques...</p>
            </div>
          </div>
          <div class="mb-6 is-flex">
              <span class="icon">
                <i class="fab fa-osi fa-2x"></i>
              </span>
            <div class="ml-3">
              <h4 class="is-size-4 has-text-weight-bold mb-2">Open Source</h4>
              <p class="subtitle has-text-grey">Consultez le code source et contribuez sur Github !</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section has-background-primary">
    <div class="container">
      <div class="is-vcentered columns is-multiline">
        <div class="column mb-4">
          <span>Nouveautés</span>
          <h2 class=" mt-2 mb-3 is-size-1 is-size-3-mobile has-text-weight-bold"><i class="fas fa-bullhorn"></i> {{title}}</h2>
          <p style="font-size: 1.1em">
            {{content}}
          </p>
        </div>
      </div>
    </div>
  </section>

  <footer class="section">
    <div class="container">
      <div class="pb-5 is-flex is-flex-wrap-wrap is-justify-content-between is-align-items-center">
        <div class="mr-auto mb-2">
          <a class="is-inline-block" href="#">
            <img class="image" src="/static/logo.png" alt="Logo EleveDirect" style="height: 5em"></a>
        </div>
      </div>
    </div>
    <div class="pt-5" style="border-top: 1px solid #dee2e6;"></div>
    <div class="container">
      <div class="is-flex-tablet is-justify-content-between is-align-items-center">
        <p>Tout droits réservés © EleveDirect</p>
        <div class="py-2 is-hidden-tablet"></div>
        <div class="ml-auto">
          <a class="mr-4 is-inline-block" href="https://github.com/elevedirect" target="_blank"><i class="fab fa-github"></i> Github</a>
          <a class="mr-4 is-inline-block" href="http://eleve-direct.server.camarm.fr"><i class="fas fa-browser"></i> Website</a>
          <a class="mr-4 is-inline-block" href="mailto:armand@camponovo.xyz"><i class="fas fa-envelope"></i> Email</a>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>

</html>